# Build artifacts
/build
**/build/
*.class
*.jar
*.apk
*.dex

# IDE-specific files
.idea/
*.iml
.DS_Store

# Gradle files
.gradle/

# Local properties
local.properties

.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

.kotlin
